.main{
    background-color: aliceblue;
}

h3{
    font-size: 40px;
    color:darkslategray;
    margin: 30px 0 0 100px;
    padding-top: 30px;
}
button.add-post{
    background-color: darkslategray;
    color: #ffffff;
    margin: 20px 0 20px 100px;
}
button.new-post{
    background-color: darkslategray;
    color: #ffffff;
}

.navbar{
    height: 50px;
    background-color: darkslategray;
    box-shadow: 2px 2px 4px grey;
    display: flex;
}
.navbar p{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    color: aliceblue;
    padding-left: 100px;
    margin-top: -15px    ;
}

.navbar-btns {
    margin: -30px 200px 0 0;
}
.navbar-btns a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    outline: none;
    margin-left: 20px;
}
.user-name{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    outline: none;
    margin-left: 20px;
}
.post-title{
    padding: 20px 0 0 20px;
    max-width: 600px;
    color:darkslategray;
}
.posts-container{
    display: flex;
    flex-direction: column;
}
.post{
    flex-grow: 1;
    width: 700px;
    max-height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: 20px 30px 0 100px;
    cursor: pointer;
}
.post-body{
    padding-left: 20px;
    max-width: 680px;
}

.post-icons{
    display: flex;
    margin: 100px 0 0 5px;
    padding-bottom: 10px;
}
.delete{
    margin-left: 100px;
    margin-top: -20px;
}
.post-comment{
    margin-left: 20px;
}
.btn-danger{
    margin: -10px 0 0 47%;
}

.post-comment span{
    padding-left: 4px;
}
.post-like{
    margin-left: 20px;
    cursor: pointer;
}
.post-like span{
    padding-left: 4px;
}
.post-dislike{
    margin-left: 20px;
    cursor: pointer;
}
.post-dislike span{
    padding-left: 4px;
}
.comment{
    font-size: 20px;
    cursor: pointer;
}
.post-delete{
    margin: -25px 0 0 60%;
    padding-bottom: 10px;
    display: flex;
}

.change{
    margin-right: 10px;
}

.dark-theme{
    background-color: #333;
}
.pagination{
    margin: 30px 0 0 100px;
}

.post-create-date{
    margin: 10px 0 10px 20px;
    font-size: 15px;
    color: cadetblue;
}

.post-category{
    margin: 10px 0 10px 20px;
    font-size: 15px;
    color: cornflowerblue;
}

.pagination{
    padding-bottom: 20px;
    margin-left: 100px;
}
.pagination .page-item.active .page-link {
    background-color: #006400;
    border-color: #006400;
}

.pagination .page-link {
    color: #006400;
}


.pagination .page-item:not(.active) .page-link:hover {
    background-color: #004d00;
    border-color: #004d00;
    color: #ffffff;
}

.sidebar{
    position: absolute;
    margin-top: 10%;
    left: 60%;
    bottom: 10%;
    width: 400px;
    height: 510px;
    background-color: white;
    border-radius: 10px;

}
h2{
    padding: 30px 0 0 50px;
    color:darkslategray;
}

.popular-posts h3{
    font-size: 15px;
    color:rgb(43, 69, 69);
    cursor: pointer;
    margin-left: 10px;
    margin-top: -10px;
}
.popular-posts p{
    font-size: 15px;
    margin-left: 10px;
    color:darkmagenta
}
.popular-posts p>i{
    margin-right: 5px;
}
.post-link{
    margin-left: 20px;
    text-decoration: none;

}