.main{
    background-color: aliceblue;
    min-height: 1000px;
    padding-top: 100px;
}

.post{
    width: 700px;
    max-height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: 0 30px 0 27%;
    cursor: pointer;
}
.post-title{
    padding: 20px 0 0 20px;
    max-width: 600px;
    color:darkslategray;
}

.post-body{
    padding-left: 20px;
    max-width: 680px;
    padding-bottom: 50px;
}

.post-create-date{
    margin: 10px 0 10px 20px;
    font-size: 15px;
    color: cadetblue;
}

.post-category{
    margin: 10px 0 10px 20px;
    font-size: 15px;
    color: cornflowerblue;
}

.add-new-comment{
    margin-top: 50px;
}
.add-new-comment h3{
    color: darkslategray;
    margin-left: 27%;
}
.form-group{
    margin-left: 27%;
}
.add-new-comment textarea{
    width: 500px;
    margin-top: 30px;
}
button.add-comment{
    margin: 20px 0 0 27%;
    background-color: darkslategray;
    border: none;
}
button.add-comment:hover{
    background-color: darkslategray;
}
.comments-list{
    list-style-type: none;
    margin: 30px 0 0 25%;
}

.no-comments{
    font-size: 20px;
    margin: 30px 0 0 27%;
    color: brown;
}
.comment-buttons{
    margin-bottom: 10px;
}

.answers-list{
    list-style-type: none;
}

