.registration{
    font-family: Roboto, sans-serif;
}

.registration h1{
    font-size: 40px;
    color: darkslategray;
    margin: 140px 0 0 28%;
}


.registration{
    font-family: Roboto, sans-serif;
    width: 500px;
    margin: 20px 0 0 33%;
}

button.btn{
    margin: 20px 0 0 150px;
    width: 200px;
    height: 50px;
    background-color: darkslategray;
    border: none;
}

button.btn:hover{
    background-color: darkslategray;
}