.registration{
    font-family: Roboto, sans-serif;
}

.registration h1{
    font-size: 40px;
    color: blue;
    margin: 140px 0 0 29%;
}


.registration{
    font-family: Roboto, sans-serif;
    width: 500px;
    margin: 20px 0 0 33%;
}